@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-white text-black dark:bg-slate-900 dark:text-white;
  }

  :root {
    @apply overflow-x-hidden;
  }

  .inputs input,
  .inputs select {
    @apply border-gray-400/80 dark:border dark:border-slate-500 dark:bg-slate-700/90;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.child-svg-white svg{
  fill: #fff;
}